### Commented entries have reasonable defaults.
### Uncomment to edit them.
Source: geoknow-suite
Section: web
Priority: optional
Homepage: http://stack.linkeddata.org/
Standards-Version: 3.9.2

Package: geoknow-suite
Version: 0.1
Maintainer: Vadim Zaslawski <vadim.zaslawski@ontos.com>
# Pre-Depends: <comma-separated list of packages>
Depends: geoknow-generator-ui, geolift-service, limes
# Recommends: <comma-separated list of packages>
# Suggests: <comma-separated list of packages>
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
Architecture: all
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <comma-separated list of additional files for the doc directory>
# Files: <pair of space-separated paths; First is file to include, second is destination>
#  <more pairs, if there's more than one file to include. Notice the starting space>
Description: GeoKnow components of Linked Data Stack
 Metapackage to install GeoKnow components of Linked Data Stack.
 .
 GeoKnow Demonstrator, Geoknow Generator UI, etc.
